version: "2"
services:
  minirepo:
    image: collegeimprovements/mini_repo:latest
    container_name: mini_repo
    restart: always
    ports:
      - "4000:4000"
    volumes:
      - ./packages.txt:/app/packages.txt
      - ./data:/app/lib/mini_repo-0.2.0/data
    environment:
      - PROXY=http://proxy.int.mycompany.com:8080
      - MINI_REPO_URL="http://localhost:4000"
      - MINI_REPO_AUTH_TOKEN="lD22NLEzSWOPZshqP3bVDIgBcdSYWQxT"
    command: "sh bin/mini_repo start"
